<ul class="carousel">
    {% for i in (1..4) %}
    <li id="step{{ i }}">
        <article class="card">
            {% case i %}
                {% when 1 %}
                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: titlestep1,
                    %}
                    <p>{{descriptionstep1}}</p>
                    {% if contentstep1 %}
                        <img src="{{ contentstep1 }}" class="{{ classstep1 }}" alt="{{altstep1}}">
                    {% endif %}

                {% when 2 %}

                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: titlestep2,
                    %}
                    <p>{{descriptionstep2}}</p>
                    {% if current_path == '/welcome' %}
                        <svg class="decorative" width="276" height="295" viewBox="0 0 276 295" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M266.616 33.5798L183.816 0.822568H182.855C182.208 0.7439 181.564 0.7439 180.923 0.822568H174.984L96.6 32.7655L18.2161 0.822568C16.1406 0.00835856 13.9326 -0.204038 11.7687 0.197167C9.61593 0.586571 7.56249 1.58958 5.79609 3.1118C4.00761 4.62222 2.56137 6.61645 1.54569 8.91747C0.541053 11.2303 0.0111398 13.7791 9.97888e-05 16.387V245.687C-0.0109402 249.121 0.894331 252.472 2.58345 255.269C4.26153 258.054 6.64618 260.154 9.3841 261.252L92.184 294.009C94.9661 295.083 97.9579 295.083 100.74 294.009L179.4 262.88L257.784 294.823C259.256 295.059 260.728 295.059 262.2 294.823C265.081 294.87 267.897 293.773 270.204 291.708C271.992 290.209 273.439 288.215 274.454 285.914C275.459 283.601 275.989 281.04 276 278.444V49.1441C276.011 45.7103 275.106 42.3591 273.417 39.5624C271.738 36.7776 269.354 34.6772 266.616 33.5798ZM82.8 255.682L27.6001 233.899V39.1494L82.8 60.9325V255.682ZM165.6 233.899L110.4 255.682V60.9325L165.6 39.1494V233.899ZM248.4 255.682L193.2 233.899V39.1494L248.4 60.9325V255.682Z" fill="black"/>
                        </svg>
                    {% elsif contentstep2 %}
                        <img src="{{ contentstep2 }}" alt="Garden">
                    {% endif %}

                {% when 3 %}
                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: titlestep3,
                    %}
                    <p>{{descriptionstep3}}</p>
                    {% if current_path contains 'welcome' %}
                        <svg class="decorative" width="231" height="221" viewBox="0 0 231 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M173.253 98.2183H161.699C158.639 98.2183 155.7 99.5148 153.538 101.813C151.365 104.112 150.156 107.235 150.156 110.5C150.156 113.753 151.365 116.877 153.538 119.175C155.7 121.485 158.639 122.77 161.699 122.77H173.253C176.313 122.77 179.251 121.485 181.425 119.175C183.587 116.877 184.807 113.753 184.807 110.5C184.807 107.235 183.587 104.112 181.425 101.813C179.251 99.5148 176.313 98.2183 173.253 98.2183ZM173.253 147.333H161.699C158.639 147.333 155.7 148.618 153.538 150.928C151.365 153.227 150.156 156.35 150.156 159.603C150.156 162.868 151.365 165.992 153.538 168.29C155.7 170.588 158.639 171.885 161.699 171.885H173.253C176.313 171.885 179.251 170.588 181.425 168.29C183.587 165.992 184.807 162.868 184.807 159.603C184.807 156.35 183.587 153.227 181.425 150.928C179.251 148.618 176.313 147.333 173.253 147.333ZM103.952 73.6667H173.253C176.313 73.6667 179.251 72.3701 181.425 70.0717C183.587 67.7615 184.807 64.6381 184.807 61.385C184.807 58.1318 183.587 55.0084 181.425 52.6982C179.251 50.3998 176.313 49.1033 173.253 49.1033H103.952C100.891 49.1033 97.953 50.3998 95.7797 52.6982C93.6175 55.0084 92.3978 58.1318 92.3978 61.385C92.3978 64.6381 93.6175 67.7615 95.7797 70.0717C97.953 72.3701 100.891 73.6667 103.952 73.6667ZM219.457 -3.8147e-06H57.7472C54.6869 -3.8147e-06 51.7485 1.28475 49.5863 3.59493C47.413 5.89333 46.2044 9.0168 46.2044 12.2699V49.1033H11.5539C8.48245 49.1033 5.54409 50.3998 3.3819 52.6982C1.2197 55.0084 0 58.1318 0 61.385V184.167C0 193.926 3.64801 203.296 10.1457 210.203C16.6434 217.11 25.4585 221 34.6506 221H184.807C197.059 221 208.813 215.826 217.472 206.608C226.132 197.403 231 184.909 231 171.885V12.2699C231 9.0168 229.791 5.89333 227.618 3.59493C225.456 1.28475 222.518 -3.8147e-06 219.457 -3.8147e-06ZM46.2044 184.167C46.2044 187.42 44.9847 190.543 42.8225 192.842C40.6493 195.152 37.7109 196.437 34.6506 196.437C31.5902 196.437 28.6518 195.152 26.4786 192.842C24.3164 190.543 23.0967 187.42 23.0967 184.167V73.6667H46.2044V184.167ZM207.903 171.885C207.903 178.403 205.475 184.638 201.14 189.247C196.804 193.855 190.927 196.437 184.807 196.437H67.2276C68.5693 192.5 69.2678 188.351 69.3011 184.167V24.5516H207.903V171.885ZM103.952 122.77H115.506C118.566 122.77 121.504 121.485 123.666 119.175C125.84 116.877 127.048 113.753 127.048 110.5C127.048 107.235 125.84 104.112 123.666 101.813C121.504 99.5148 118.566 98.2183 115.506 98.2183H103.952C100.891 98.2183 97.953 99.5148 95.7797 101.813C93.6175 104.112 92.3978 107.235 92.3978 110.5C92.3978 113.753 93.6175 116.877 95.7797 119.175C97.953 121.485 100.891 122.77 103.952 122.77ZM103.952 171.885H115.506C118.566 171.885 121.504 170.588 123.666 168.29C125.84 165.992 127.048 162.868 127.048 159.603C127.048 156.35 125.84 153.227 123.666 150.928C121.504 148.618 118.566 147.333 115.506 147.333H103.952C100.891 147.333 97.953 148.618 95.7797 150.928C93.6175 153.227 92.3978 156.35 92.3978 159.603C92.3978 162.868 93.6175 165.992 95.7797 168.29C97.953 170.588 100.891 171.885 103.952 171.885Z" fill="black"/>
                        </svg>
                    {% elsif contentstep3 %}
                        <img src="{{ contentstep3 }}" alt="Garden">
                    {% endif %}

                {% when 4 %}
                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: titlestep4,
                    %}
                    <p>{{descriptionstep4}}</p>
                    {% if current_path contains 'welcome' %}
                        <svg class="decorative" width="231" height="238" viewBox="0 0 231 238" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M203.93 55.1412C192.186 48.5497 178.483 47.1322 165.765 51.2076C165.145 37.3987 159.578 24.3812 150.202 14.8484C140.838 5.31566 128.386 -7.00289e-06 115.436 -7.00289e-06C102.496 -7.00289e-06 90.044 5.31566 80.6688 14.8484C71.3046 24.3812 65.726 37.3987 65.1062 51.2076C52.4325 47.1322 38.7737 48.408 26.9412 54.775C18.2412 59.6536 11.0576 67.1546 6.29808 76.3329C1.53853 85.5231 -0.597725 95.9891 0.143879 106.455C0.896551 116.921 4.49387 126.926 10.5042 135.23C16.5256 143.547 24.6832 149.795 33.9809 153.209C28.0481 162.222 24.8271 172.96 24.7496 183.969C24.8087 187.064 25.078 190.143 25.5576 193.207C27.5057 205.693 33.5493 217.044 42.6035 225.231C51.6687 233.417 63.1581 237.894 75.0237 237.87C77.481 238.043 79.9419 238.043 82.4066 237.87C95.5783 235.649 107.422 228.007 115.38 216.584C123.416 227.829 135.249 235.283 148.354 237.374C150.819 237.555 153.28 237.555 155.737 237.374C164.935 237.362 173.956 234.657 181.826 229.554C189.685 224.439 196.071 217.127 200.311 208.409C204.55 199.692 206.454 189.899 205.834 180.095C205.214 170.302 202.081 160.876 196.78 152.843C206.122 149.476 214.335 143.263 220.4 134.959C226.455 126.655 230.096 116.637 230.849 106.148C231.613 95.6583 229.465 85.1569 224.684 75.9549C219.891 66.7529 212.674 59.2638 203.93 54.4088V55.1412ZM96.2424 31.2679C101.389 25.9995 108.252 23.07 115.38 23.07C122.509 23.07 129.371 25.9995 134.518 31.2679C138.447 35.4732 141.126 40.8361 142.189 46.6597C143.262 52.4951 142.676 58.5314 140.517 64.0006L137.518 71.2653L129.902 78.4001C125.231 76.6873 120.328 75.7659 115.38 75.6951C108.983 75.6951 102.662 77.1244 96.818 79.8767L90.365 64.0006C88.118 58.555 87.4871 52.507 88.5386 46.6597C89.5901 40.8125 92.2688 35.4496 96.2424 31.2679ZM25.9118 115.433C23.3328 109.385 22.7683 102.592 24.3069 96.1545C25.8454 89.7284 29.3985 84.0466 34.3683 80.0539C39.3493 76.0612 45.4481 74.0059 51.6687 74.2185C57.8783 74.4311 63.8443 76.9118 68.5707 81.2233L74.2157 86.5154L78.2558 96.3671C72.4779 104.612 69.3233 114.618 69.2569 124.906C69.1241 126.749 69.1241 128.596 69.2569 130.446H62.9146L53.2294 131.427C47.6951 132.053 42.1054 130.86 37.2241 128.001C32.3428 125.143 28.3912 120.76 25.9118 115.433ZM102.009 190.254C100.615 196.821 97.1501 202.669 92.1913 206.838C87.2325 210.996 81.0783 213.205 74.7691 213.087C68.46 212.969 62.3832 210.536 57.5573 206.201C52.7313 201.865 49.455 195.876 48.2706 189.261C48.1747 187.537 48.1747 185.816 48.2706 184.099C48.3149 179.091 49.5878 174.188 51.9565 169.877C54.3142 165.553 57.7012 161.974 61.7634 159.482L67.6409 155.052L78.134 153.824C84.7531 163.64 94.5157 170.515 105.584 173.149L102.009 190.254ZM115.38 149.524C110.82 149.524 106.359 148.071 102.574 145.366C98.7772 142.672 95.8218 138.822 94.073 134.333C92.3352 129.832 91.8703 124.883 92.7669 120.11C93.6524 115.338 95.855 110.944 99.076 107.506C102.297 104.069 106.404 101.718 110.886 100.773C115.358 99.8282 119.996 100.312 124.202 102.179C128.419 104.033 132.017 107.187 134.551 111.239C137.086 115.279 138.436 120.04 138.436 124.906C138.436 131.439 136.012 137.699 131.684 142.306C127.357 146.925 121.501 149.524 115.38 149.524ZM182.479 189.143C181.294 196.644 177.387 203.354 171.609 207.819C165.831 212.284 158.637 214.15 151.586 213.016C146.03 212.178 140.838 209.543 136.721 205.48C132.592 201.416 129.736 196.101 128.519 190.254L126.914 182.871L129.327 171.542C139.964 167.845 148.985 160.155 154.696 149.89L160.463 153.575H161.504L169.108 158.383C174.056 161.395 177.996 165.967 180.398 171.483C182.789 177 183.519 183.166 182.479 189.143ZM204.849 115.314C202.58 120.205 199.082 124.327 194.754 127.21C190.415 130.104 185.412 131.651 180.298 131.675H177.531L170.148 130.446L161.504 125.402C161.481 113.436 157.386 101.895 149.97 92.9178L154.929 88.37L162.19 81.2233C166.927 76.7346 172.982 74.1358 179.313 73.8759C185.656 73.6279 191.865 75.7305 196.912 79.8295C201.949 83.9284 205.502 89.7757 206.952 96.3553C208.402 102.947 207.66 109.857 204.849 115.929V115.314Z" fill="black"/>
                        </svg>
                    {% elsif contentstep4 %}
                        <img src="{{ contentstep4 }}" alt="Garden">
                    {% endif %}
            {% endcase %}

            <nav class="controls">
                {%- if i > 1 -%} 
                    <a href="#step{{ i | minus: 1 }}" class="secondary styled">terug</a>
                {%- endif -%}

                <div class="dots">
                    {% for dot_index in (1..4) %}
                        <a href="#step{{ dot_index }}" class="dot{% if dot_index == i %} active{% endif %}"></a>
                    {% endfor %}
                </div>

                {%- if i < 4 -%}
                        <a href="#step{{ i | plus: 1 }}" class="primary styled">Volgende</a>
                    {%- else -%}
                        {%- if current_path contains 'welcome' -%}
                            {% comment %} If on the welcome page, show the popover button {% endcomment %}
                            <a href="/veldverkenner" class="styled klaar">Klaar</a>
                            
                        {%- else -%}
                            {% comment %} If elsewhere, show a link to the veldverkenner {% endcomment %}
                            <button class="styled klaar" popovertarget="uitleg">Klaar</button>
                        {%- endif -%}
                    {%- endif -%}
            </nav>
        </article>
    </li>
    {% endfor %}
</ul>