{% if plants.size > 0 %}
    {% render 'partials/general-heading.liquid',
        heading_level: 2,
        content: "Planten",
    %}
    <ul class="flowerlist">
    {% for plant in plants %}
        {% if plant.collected %}
            <li class="{{ zone_type }}">
                <img class="square" src="{{ plant.in_bloom | default: '/assets/images/alium.webp' }}" alt="{{ plant.name }}">
                <article>
                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: plant.name,
                    %}
                    <p>{{ plant.omscription | truncatewords: 10 }}</p>
                    {% if zone_slug %}
                        <a class="styled quest plantcard" href="/collectie/{{ plant.slug }}">
                            Meer over deze plant
                        </a>
                    {% endif %}
                </article>
            </li>
        {% else %}
            <li class="{{ zone_type }}">
                <img class="square" src="/assets/images/placeholder.webp" alt="Nog niet ontdekt">
                <article>
                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: "Hoe zou ie heten?",
                    %}
                    <p>Helaas! deze plant heb jij nog niet ontdekt</p>
                    
                    {% if zone_slug and plant.quest %}
                        <a class="styled quest plantcard" href="/veldverkenner/{{ zone_slug }}/{{ plant.quest.slug }}">
                            Verdien deze plant
                        </a>
                    {% else %}
                        <p>Geen opdracht beschikbaar</p>
                    {% endif %}
                </article>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    {% render 'partials/general-heading.liquid',
        heading_level: 2,
        content: "Mijn collectie",
    %}
    {% render 'partials/mycollection.liquid', 
        zone_type: zone_type, 
        current_path: current_path,
        plants: allPlants
    %}
{% endif %}