<ul class="my-collection">
    {% if plants.size > 0 %}
        
        {% if current_path == "/" %}
            {% assign loop_limit = 4 %}
        {% else %}
            {% assign loop_limit = plants.size %}
        {% endif %}

        {% for plant in plants limit: loop_limit %}
        <li class="{{ plant.main_zone.type }}">
            <a href="/collectie/{{ plant.slug }}">
                <article>
                    <h2>{{ plant.name }}</h2>
                    <h3 class="italic">{{ plant.latin | truncate: 20 }}</h3>
                </article>
                <img style="--vt: img-{{ plant.slug }}" class="square viewt" src="{{ plant.in_bloom }}" alt="{{ plant.name }}">
            </a>    
        </li>
        {% endfor %}

    {% else %}
        <p>Je hebt nog niks gespaard. 
            Start de <span> Veldverkenner </span> om meer te weten te komen over wat er groeit en je collectie aan te vullen.
        </p>
    {% endif %}
</ul>