

<ul class="my-collection">
    {% if plants.size > 0 %}
        {% if current_path == "/" %}
            {% assign loop_limit = 4 %}
        {% else %}
            {% assign loop_limit = plants.size %}
        {% endif %}
        {% for plant in plants limit: loop_limit %}
        <li class="{{ plant.main_zone.type }}">
            <a href="/collectie/{{ plant.slug }}">
                <article>
                    <h2>{{ plant.name }}</h2>
                    <h3 class="italic">{{ plant.latin | truncate: 20 }}</h3>
                </article>
                <img class="square" src="{{ plant.in_bloom }}" alt="{{ plant.name }}" fetchpriority=high>
            </a>    
        </li>
        {% endfor %}

    {% else %}
        <li class="empty">
            <p> Jouw collectie is nog leeg,<a class="underlined" href="/veldverkenner"> ga naar onze Veldverkenner</a>  om meer te weten te komen over wat er groeit en je collectie aan te vullen</p>
        </li>
    {% endif %}
</ul>