{% assign active_quests = plants | where: "collected", false %}

<ul class="quest">
    {% for plant in active_quests %}
        {% if plant.quest %}
            <li class="{{ zone_type }}">
                <section>
                    <article>
                        <div class="questionwrapper {{ zone_type }}">
                            <svg class="decorative" width="38" height="33" viewBox="0 0 38 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_387_604)">
                                    <path d="M1.58301 16.5C1.58301 16.5 7.91634 5.5 18.9997 5.5C30.083 5.5 36.4163 16.5 36.4163 16.5C36.4163 16.5 30.083 27.5 18.9997 27.5C7.91634 27.5 1.58301 16.5 1.58301 16.5Z" stroke="#004121" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.9997 20.625C21.623 20.625 23.7497 18.7782 23.7497 16.5C23.7497 14.2218 21.623 12.375 18.9997 12.375C16.3763 12.375 14.2497 14.2218 14.2497 16.5C14.2497 18.7782 16.3763 20.625 18.9997 20.625Z" stroke="#004121" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                        <hgroup class="headingwrapper">
                            <h3>Opdracht {{ plant.quest.id }}</h3>
                            <p>+{{ plant.quest.xp | default: 25 }}xp</p>
                        </hgroup>
                    </article>
                    <p>{{ plant.quest.description | truncatewords: 10 }}</p>
                </section>

                <a class="styled quest card" href="/veldverkenner/{{ zone_slug }}/{{ plant.quest.slug }}">
                    Start deze opdracht
                    <svg class="decorative" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
        {% endif %}
    {% else %}
        <li class="empty {{ zone_type }}">Er zijn momenteel nog geen opdrachten voor deze zone</li>
    {% endfor %}
</ul>