<header class="opdrachten-header {{ zone_type }}">
    {% render 'partials/breadcrumbs.liquid' 
        current_path: current_path,
    %}
    <h1>{{ zone_name }}</h1>
    <p>Hier komt en leuk stukje tekst over de zone</p>
    <div>
        <label for="opdracht-{{ zone_name }}-{{ zone_slug }}">{{ stats.collected }}/{{ stats.total }}</label>
        <progress class="{{ zone_type }}sierlint" id="opdracht-{{ zone_name }}-{{ zone_slug }}" max="100" value="{{ stats.percentage }}"></progress>
    </div>
</header>
