{% render 'partials/head.liquid' %}
<main class="acccount"> 
    {% render 'partials/breadcrumbs.liquid',
        current_path: current_path,
    %}

    {% assign welcome_message = "Welkom op jouw account " | append: user.name | append: "!" %}

    {% render 'partials/general-heading.liquid',
        heading_level: 1,
        content: welcome_message,
    %}
    <section>
        <figure>
            <img class="memoji" src="{{ chosen.memoji }} /assets/images/profil.webp" alt="">
        </figure>
        <article>
            
            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: user.name,
            %}

            {% assign totalplantstext = "🪴 " | append: total_plants | append: " Planten verzameld" %}

            {% render 'partials/general-paragraph.liquid',
                class: "",
                content: totalplantstext,
            %}
        </article>
    </section>

    <section>
        {% assign progress = "Nog " | append: user.xp | append: "xp tot level 3" %}

        {% render 'partials/general-heading.liquid',
            heading_level: 2,
            content: progress,
        %}
        <label for="">{{ user.xp }}</label>

        <progress class="{{ zone_type }}sierlint" id="opdracht-{{ zone_name }}-{{ zone_slug }}" max="100" value="{{ progress }}"></progress>
    </section>

    <section>
        {% assign progress = "Speciaal voor jou " | append: user.name | append: " :)" %}
        {% render 'partials/general-heading.liquid',
            heading_level: 2,
            content: progress,
        %}
        <details>
            <summary>Jouw badges</summary>
            <p>hier komen jouw badges</p>
        </details>
        <details>
            <summary>Jouw voorkeuren</summary>
            <p>hier komen jouw voorkeuren</p>
            <input type="radio" id="color-mode-light" name="color-mode" />
            <label for="color-mode-light" title="Use dark mode">Light☾</label>

            <input type="radio" id="color-mode-dark" name="color-mode" />
            <label for="color-mode-dark" title="dark dark mode">Dark☼</label>

            <input type="radio" id="color-mode-auto" name="color-mode" checked="checked" />
            <label for="color-mode-auto" title="Use system light/dark mode setting">System</label>
        </details>
        <form action="/account" method="POST">
            <button class="styled reset">Voortgang wissen</button>
        </form>

        <a class="styled logout" href="/logout">Uitloggen</a>

    </section>
</main>
{% render 'partials/foot.liquid', current_path: current_path %}