{% render 'partials/head.liquid' %}
<main class="acccount"> 
    {% render 'partials/linkback.liquid' %}
    {% assign welcome_message = "Welkom op jouw account " | append: user.name | append: "!" %}
    {% render 'partials/general-heading.liquid',
        heading_level: 1,
        content: welcome_message,
    %}
    <section>
        <figure>
            <img class="memoji" src="{{ chosen.memoji }} /assets/images/memoji.webp" alt="">
        </figure>
        <article>
            
            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: user.name,
            %}
            <p>🪴 18 Planten verzameld</p>
        </article>
    </section>

    <section>
        {% assign progress = "Nog " | append: user.xp | append: "xp tot level 3" %}
        {% render 'partials/general-heading.liquid',
            heading_level: 2,
            content: progress,
        %}
        <label for="">{{ user.xp }}</label>
        <progress class="{{ zone_type }}sierlint" id="opdracht-{{ zone_name }}-{{ zone_slug }}" max="100" value="50"></progress>
    </section>

    <section>
        {% assign progress = "Speciaal voor jou " | append: user.name | append: " :)" %}
        {% render 'partials/general-heading.liquid',
            heading_level: 2,
            content: progress,
        %}
        <details>
            <summary>Jouw badges</summary>
            <p>hier komen jouw badges</p>
        </details>
        <details>
            <summary>Jouw voorkeuren</summary>
            <p>hier komen jouw voorkeuren</p>
            <input type="radio" id="color-mode-light" name="color-mode" />
            <label for="color-mode-light" title="Use dark mode">Light☾</label>

            <input type="radio" id="color-mode-dark" name="color-mode" />
            <label for="color-mode-dark" title="dark dark mode">Dark☼</label>

            <input type="radio" id="color-mode-auto" name="color-mode" checked="checked" />
            <label for="color-mode-auto" title="Use system light/dark mode setting">System</label>
        </details>
        <form action="/account" method="POST">
            <button>Voortgang wissen</button>
        </form>

        <form class="logout" action="/welcome" method="GET">
            <button class="styled logout">Uitloggen</button>
        </form>
    </section>
</main>
{% render 'partials/foot.liquid', current_path: current_path %}